body
{
  width: 1020px;

}
.banner
{

  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:large;
  display: flex;

 }

.nav-bar 
{
  display: flex;
  justify-content:center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}


.nav-bar a
{
  text-decoration:none;
}

main
{
  display:flex;  
  flex-wrap: wrap;
      /*background-color:sienna;*/
  transition:transform:2s;
}




.first
{
  
 
}
.new-arrivals, .classic
{
  transition:transform:2s;
}

.new-arrivals:hover img
{
  transform: scale(1.1);

}

.classic:hover img
{
  transform: scale(1.1);
}

img

{
  display: flex;
  height:175px;
  width:510px;
}


 

h2 a
{
  display:flex;
  justify-content:center;
  color:black;
  position:3;
  text-decoration: none;
}

.jukebox img
{
  display: flex;
  transition: transform:2s;
   
}



.jukebox:hover img
{
  transform: scale(1.1);
}

.suitcase img
{
  transition: transform: 2s;
}
.suitcase:hover img
{
  transform: scale(1.1);
}

.footer
{
  background-color: black;
  height: 100px;
}

.footer ul
{
  color:white;
}