body
{
  width: 1000px;
}

.banner
{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:large;
  display: flex;
 }

.nav-bar
{
    
}

.nav-bar ul
{
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  border-top: 1px black solid;  
  list-style-type:none;
  height:40px; 
  font-size:20px ;
  
}


ul li a
{
  
  text-decoration:none;
}

main
{
  display:flex;  
  flex-wrap: wrap;
  /*background-color:sienna;*/
  transition:transform:2s;
  
}

.first, .second, .third
{
  
}

.new-arrivals,.retro, .jukebox, .suitcase, .withstand, .bluetooth
{
 
  transition:transform:2s;
}

.new-arrivals:hover img
{
  transform: scale(1.1);

}

.retro:hover img
{
  transform: scale(1.1);
}

img

{
  display: flex;
  height:175px;
  width:500px;
}


 

h2 a
{
  display:flex;
  justify-content:center;
  color:black;
  position:3;
  text-decoration: none;
  border-bottom: 2px black solid;
}

.jukebox img
{
  display: flex;
  transition: transform:2s;
   
}

.jukebox:hover img
{
  transform: scale(1.1);
}

.suitcase img
{
  transition: transform: 2s;
}
.suitcase:hover img
{
  transform: scale(1.1);
}

.withstand:hover img
{
  transform:scale(1.1) ;
}

.bluetooth:hover img
{
  transform: scale(1.1);
}


.footer
{
  background-color: black;
  height: 100px;
}

.footer li
{
  color:white;
}

.footer
{
  display: flex;
  justify-content:space-evenly;
  
}